html, body {
    height:max-content;
}
.rps-viewport {
    height: max-content;
    background-color: rgb(228, 213, 221);
}
.rps-weaponimages-img {
    height: 200px;
    width: 200px;
}
.rps-weaponimages {
    align-self: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: (7, 1fr);
    align-items: center;
}
#rps-title-text, #rps-gamemessage-text, #rps-weaponsmessage-text {
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}
#rps-weaponspadding1 {
    grid-row: 1;
    grid-column: 1/2;
}
#rps-weaponspadding2 {
    grid-row: 1;
    grid-column: 2/3;
}
#rps-rocksimg {
    grid-row: 1;
    grid-column: 3/4;
    background-color: rgb(233, 213, 190);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    border-radius: 5%;
}
#rps-papersimg {
    grid-row: 1;
    grid-column: 4/5;
    background-color: rgb(170, 190, 226);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    border-radius: 5%;
}
#rps-scissorsimg {
    grid-row: 1;
    grid-column: 5/6;
    background-color: rgb(188, 201, 177);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    border-radius: 5%;
}
#rps-rocksimg:hover {
    background-color: rgb(243, 200, 150);
    box-shadow: 5px 5px gray;
}
#rps-papersimg:hover {
    background-color: rgb(148, 173, 219);
    box-shadow: 5px 5px gray;
}
#rps-scissorsimg:hover {
    background-color: rgb(163, 199, 131);
    box-shadow: 5px 5px gray;
}
#rps-rocksimg:active {
    background-color: rgb(245, 185, 116);
}
#rps-papersimg:active {
    background-color: rgb(112, 151, 223);
}
#rps-scissorsimg:active {
    background-color: rgb(132, 177, 92);
}
#rps-weaponspadding3 {
    grid-row: 1;
    grid-column: 6/7;
}
#rps-weaponspadding4 {
    grid-row: 1;
    grid-column: 7/8;
}
.rps-playerscores-table {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 20px;
}
.rps-eventlog {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    overflow: scroll;
    padding-bottom: 30px;
}
#rps-eventlog-title {
    font-size: 18px;
    font-weight: bolder;
}
#rps-eventlog-text {
    font-size: 13px;
}
th, td {
    text-align: center;
    padding:0 15px 0 15px;
}